.backgroundSection{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backgroundSpot{
  position: absolute;
  top: 0;
  right: 0;
}
.backgroundPlant{
  position: absolute;
  top: 0;
  right: 410px;
}
.newsletter{

  &__container{
    width: 1203px;
    height: 462px;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: left;
  }
  &__content{
    width: 585px;
    height: inherit;

    h1, h2{
      color: #9c9c9c;
      font-weight: 400;
      font-size: 25px;

      b{
        font-weight: 900;
        font-size: 82px;
        font-family: 'Elsie Swash Caps', sans-serif;
        color: #202020;
      }
    }
    h2{
      margin-top: 24px;
    }
  }
  &__inputContainer{
    width: 685px;
    height: 85px;
    background-color: #fff;
    box-shadow: 10px 10px 100px #0000000c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;

    button{
      width: 25%;
      height: 100%;
      font-size: 22px;
      background-color: #FFCB47;
      border: none;
      cursor: pointer;
      color: white;
    }
  }
  &__inputContent{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    
    label{
      cursor: pointer;
      margin: 0px 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input[type='email']{
      width: 100%;
      font-size: 22px;
      font-weight: 400;
      padding: 20px;
      border: none;
      color: #9c9c9c;

      &:focus{
        outline: none;
      }
    }
  }
}